body {
    background-image: url("pics/bgimage.png");
}

.contactForm{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.carousel {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 30px;
}
.jumbotron{
    padding: 30px;
    text-align: center;
}

.contactForm{
    margin-bottom: 50px;
}

.input-group-prepend{
   width: 0;
}

.talkToMe{
   margin-right: 50px;
}