body {
    background-color: dimgrey;
}

.contactForm{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.carousel {
    /*width:840px;*/
    /*height:560px;*/
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 30px;
}
.jumbotron{
    padding: 30px;
    text-align: center;
}
/*.accordion.width {*/
/*    border: 1px solid rgba(0, 0, 0, 0.125);*/
/*    display: flex;*/
/*}*/

/*.accordion.width .card {*/
/*    flex-direction: row;*/
/*    flex-grow: 0;*/
/*    flex-shrink: 1;*/
/*    min-width: min-content;*/
/*}*/

/*.accordion.width .card .card-header {*/
/*    cursor: pointer;*/
/*    transform: rotate(180deg);*/
/*    writing-mode: vertical-rl;*/
/*}*/

/*.accordion.width .card .card-header:not(.collapsed) {*/
/*    pointer-events: none;*/
/*}*/

/*.collapsing.width {*/
/*    transition: width 0.35s ease;*/
/*    height: auto;*/
/*    width: 0;*/
/*}*/

