body {
    background-color: black;
    color: white;
    text-align: center;
}

h2 {
    text-decoration: underline;
    padding-top: 2em;
}

h3 {
    font-style: italic;
    padding-top: 3em;
}

img {
    max-height: 1300px;
}